<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Snap</title>
    <link rel="stylesheet" href="styles.css"> 
    
</head>
<body>
    <header class="hero">
        <h1>Around the Globe: Country Info</h1>
    </header>

    <div class="container">
        <div class="search-wrapper">
            <input type="text" id="country-inp" placeholder="Enter a country name here..." />
            <button id="search-btn">Search</button>
        </div>
        <div id="result"></div>
    </div>  
    <div class="container">
        <h1>Country Guide</h1>
        <h2>get information about countries around the globe</h2>
    </div>



    <script src="index.js"></script>
</body>
</html>
